.color-btn {
    background-color:bisque;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    width: 20px;
    height: 30px;
}
.color-btn:hover{
    border:1px solid blue;
    box-shadow:  0 2px 4px rgba(1,27,90,0.1);
}