body {
  background: linear-gradient(135deg, #fff7b1, #ffeec9),
              url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_Oyt6bqzouNGeQVeD9DTQ8amJnft9TQY6dw&s");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}



h1{
    margin-top: 10%;
    text-align: center;
    color: rgb(70, 0, 70);
    font-size: 50px;
}
p{
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
    color: rgb(5, 5, 112);
}