body{
    padding:0;
    margin:0;
}
.navbar{
    margin:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: rgb(255, 178, 242);
    color:#fff;
    border-bottom: 1px solid rgb(175, 3, 175);
    box-shadow: 0 2px 5px rgba(0,0,0,0.25);
    top: 0;
    z-index: 1000;
    
}
.sub-navbar{
    display: flex;
    gap:12px;
    align-items: center;
}
.logo{
    height: 40px;
    width: auto;
}
.logoname{
    font-size: 24px;
    color: pink;
    margin: 0;

}
.menu-bar{
    display: flex;
    gap:10px;
    align-items: center;
}
.menu{
    text-decoration: none;
    color:#fff;
    font-size: 18px;
    padding: 8px 12px;
    border-radius: 60px;
    transition: background-color 0.3s, color 0.3s;
}
.menu:hover{
    background-color: rgba(0,0,0,0.25);
    color: #fff;
    transform: translateY(-10px);
}
.menu:active{
    background:rgba(0,0,0,0.25);
    font-size: 600;
}