/* Navbar */
.navbar {
  width: 100%;
}

/* Cards layout */
.cards-wrapper {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  padding: 20px;
}

/* Card Design */
.card {
  background: white;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  overflow: hidden;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

/* Card Image */
.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* Card Text Container */
.container {
  padding: 15px;
}

/* Footer */
.footer {
  margin-top: 0px;
  padding: 0px;
  text-align: center;
}
