.emoji-box {
  width: 180px;
  height: 180px;
  margin: 20px auto;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
}

.emoji-pick {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.color-picker {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}