.about-container {
  padding: 20px;
  text-align: center;
  background: #e8f4ff;
  min-height: 100vh;
}

.about-title {
  font-size: 32px;
  font-weight: bold;
  color: #004a7c;
}

.about-text {
  font-size: 18px;
  margin-top: 10px;
  color: #003555;
}
