.contact-container {
  padding: 20px;
  text-align: center;
  background: #fff4e6;
  min-height: 100vh;
}

.contact-title {
  font-size: 32px;
  font-weight: bold;
  color: #b55600;
}

.contact-text {
  font-size: 18px;
  margin-top: 10px;
  color: #8a4300;
}
